*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --MAIN-BG : rgba(222, 226, 230, 0.3);
    --BUTTONS-BG : rgba(237, 237, 233, 0.3);

}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100vh;
    /* width: 100%; */
    background: linear-gradient(to right, #EBD8D0, #775144 );
}
section{
    background-color: var(--MAIN-BG);
    border-radius: 5px;
    width: 700px;
}
.operation-field{
    height: 10rem;
    
}
.buttons-field{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);

}
button{
    height: 5rem;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    margin: 5px;
    font-size: 2rem;
    background-color: var(--BUTTONS-BG);
}
button:hover{
    cursor: pointer;
    background-color: rgba(119, 81, 68, 0.2) ;
}